/**
 * This is an old file, not used for the current solution.
 */


#main-home-nav-container {
    display: flex;
    gap: 15px;
}

#main-home-nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;

}