@import url("../css_reset.css");

.bg-container_bookingPage {
    background-color: #EDEFEE;
}

.content-container_bookingPage {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 40px 10px;
    gap: 20px;
}

.tabs-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 20px;
}

.tab-button {
    padding: 10px 15px 10px 0;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-bottom: 3px solid transparent; /* For active indicator */
    transition: all 0.3s ease;

    font-family: 'Karla', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500px;
    width: fit-content;
    white-space: nowrap;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.tab-button.active {
    border-bottom: 3px solid #495E57; /* Green indicator for active tab */
    color: #000; 
}

ul > li::marker {
    content: '';
}

.form-container_bookingForm {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    width: 100px;
    gap: 40px;
}

/* #reservations-title {
    font-family: 'Karla', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 500px;
}

#view-reservation-title {
    font-family: 'Karla', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 500px;
} */

h1 {
    font-family: 'Karla', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 32px;
    font-style: normal;
    margin-bottom: 10px;
    font-weight: 500px;
}

@media (min-width: 500px) {
    .bg-container_bookingPage {
        background-color: #EDEFEE;
    }

    .content-container_bookingPage {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 40px 20px;
        gap: 20px;
    }

    .tabs-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        gap: 20px;
    }

    .tab-button {
        padding: 10px 15px 10px 0;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;
        border-bottom: 3px solid transparent; /* For active indicator */
        transition: all 0.3s ease;

        font-family: 'Karla', 'Helvetica Neue', 'Arial', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500px;
        width: fit-content;
        white-space: nowrap;
    }

    .tab-button:hover {
        background-color: #e0e0e0;
    }

    .tab-button.active {
        border-bottom: 3px solid #495E57; /* Green indicator for active tab */
        color: #000; 
    }
    /* #reservations-title {
        font-size: 38px;
        font-style: bold;
    } */

    .form-container_bookingForm {
        display: flex; 
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        gap: 40px;
    }
}

@media (min-width: 1024px) {
    .bg-container_bookingPage {
        background-color: #EDEFEE;
    }

    .content-container_bookingPage {
        width: 950px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 40px 0;
        gap: 20px;
    } 

    .tabs-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        gap: 30px;
    }

    .tab-button {
        padding: 10px 15px 10px 0;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;
        border-bottom: 3px solid transparent; /* For active indicator */
        transition: all 0.3s ease;

        font-family: 'Karla', 'Helvetica Neue', 'Arial', sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 500px;
        width: fit-content;
        white-space: nowrap;
    }

    .tab-button:hover {
        background-color: #e0e0e0;
    }

    .tab-button.active {
        border-bottom: 3px solid #495E57; /* Green indicator for active tab */
        color: #000; 
    }

    /* #reservations-title {
        font-size: 42px;
        font-style: bold;
    } */

    .form-container_bookingForm {
        display: flex; 
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }
}

@media (min-width: 1482px) {
    .bg-container_bookingPage {
        background-color: #EDEFEE;
    }

    .content-container_bookingPage {
        width: 1350px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 40px 0;
        gap: 20px;
    }   

    .tabs-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        gap: 40px;
    }

    .tab-button {
        padding: 10px 15px 10px 0;
        border: none;
        background-color: #f0f0f0;
        cursor: pointer;
        border-bottom: 3px solid transparent; /* For active indicator */
        transition: all 0.3s ease;

        font-family: 'Karla', 'Helvetica Neue', 'Arial', sans-serif;
        font-size: 38px;
        font-style: normal;
        font-weight: 500px;
        width: fit-content;
        white-space: nowrap;
    }

    .tab-button:hover {
        background-color: #e0e0e0;
    }

    .tab-button.active {
        border-bottom: 3px solid #495E57; /* Green indicator for active tab */
        color: #000; 
    }

    /* #reservations-title {
        font-size: 48px;
    } */

    .form-container_bookingForm {
        display: flex; 
        flex-direction: column;
        width: 100%;
        gap: 40px;
    }
}