.bg-container_hero {
    background-color: #495E57;
    height: 380px;
    margin-bottom: 82px;
}

.bg-container_weeklySpecials {
    background-color: #fff;
}

.bg-container_testimonial {
    background-color: #495E57;
}

.bg-container_about {
    background-color: #F4CE14;
}

