.bg-container_reservations {
    background-color: lightgrey;
}

.content-container_reservations {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    padding: 40px 10px;
    gap: 40px;

}

#reservations-title {
    font-size: 24px;
}

@media (min-width: 500px) {
    .bg-container_reservations {
        background-color: lightgrey;
    }

    .content-container_reservations {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 40px 20px;
        gap: 40px;
    }

    #reservations-title {
        font-size: 48px;
    }
}

@media (min-width: 1024px) {
    .bg-container_reservations {
        background-color: lightgrey;
    }

    .content-container_reservations {
        width: 950px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 40px 0;
        gap: 40px;
    } 

    #reservations-title {
        font-size: 62px;
    }
}

@media (min-width: 1482px) {
    .bg-container_reservations {
        background-color: lightgrey;
    }

    .content-container_reservations {
        width: 1350px;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        padding: 40px 0;
        gap: 40px;
    }   

    #reservations-title {
        font-size: 62px;
    }
}